<div class="row d-flex justify-content-center">
    <h1>Peliculas</h1>
    @for (movie of movies; track $index) {
        <div class="card" style="width: 300px">
            <img class="card-img-top" src={{movie.poster}} alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">{{movie.title}}</h5>
              <h6 class="card-title">{{movie.originalTitle}}</h6>
              <div class="d-flex justify-content-center">
                <a routerLink="/movies/{{movie.id}}" class="btn btn-warning btn-sm">See more</a>
              </div>
            </div>
          </div>
    }
