<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 400px">
            <img class="card-img-top" src={{movie.poster}} alt={{movie.name}}>
            <div class="card-body">
                <h2>{{movie.title}}</h2>
                <p class="card-text"><b>Titulo:</b> {{movie.title}}</p>
                <p class="card-text"><b>Gender:</b> {{movie.titleOriginal}}</p>
                <p class="card-text"><b>Status:</b> {{movie.status}}</p>
                <p class="card-text"><b>Origin:</b> {{movie.releaseDate}}</p>
                <p class="card-text"><b>Last location:</b> {{movie.overview}}</p>
            </div>
        </div>
    </div>
</div>