<!-- <p>serie works!</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 400px">
            <img class="card-img-top" src={{serie.image}} alt={{serie.name}}>
            <div class="card-body">
                <h2>{{serie.name}}</h2>
                <p class="card-text"><b>Species:</b> {{serie.species}}</p>
                <p class="card-text"><b>Gender:</b> {{serie.gender}}</p>
                <p class="card-text"><b>Status:</b> {{serie.status}}</p>
                <p class="card-text"><b>Origin:</b> {{serie.origin.name}}</p>
                <p class="card-text"><b>Last location:</b> {{serie.location.name}}</p>
            </div>
        </div>
    </div>
</div> -->