<p>serie works!</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 400px">
            <img class="card-img-top" src={{tv.poster}} alt={{tv.name}}>
            <div class="card-body">
                <h2>{{tv.title}}</h2>
                <p class="card-text"><b>Titulo:</b> {{tv.title}}</p>
                <p class="card-text"><b>Gender:</b> {{tv.titleOriginal}}</p>
                <p class="card-text"><b>Status:</b> {{tv.status}}</p>
                <p class="card-text"><b>Origin:</b> {{tv.releaseDate}}</p>
                <p class="card-text"><b>Last location:</b> {{tv.overview}}</p>
            </div>
        </div>
    </div>
</div>